body,
.test {
  background: red;
}

body {
  background: red;
}

body {
  background: blue;
}

body {
  color: red;
}

body {
  color: blue;
}

body {
  color: red;
  background: blue;
}

.test {
  background: red;
}
